.logo {
  margin: auto;
  margin-top: 30%;
  font-size: 100px;
  color: white;
  font-family: Pacifico;
  background-color: #31b269;
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

.input {
  color: #31b269;
}